.welcome__title {
  max-width: 551px;
}

.welcome__title {
  margin-bottom: 40px;
}

.welcome__text {
  max-width: 686px;
  font-size: 25px;
}

.welcome__text b {
  font-style: italic;
  font-weight: 600;
}

.welcome__text {
  font-weight: 500;
}

.welcome__top {
  position: relative;
}

.welcome__text b {
  color: #9683D7;
  font-style: italic;
}

.welcome__image {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-bottom: 78%;
  position: relative;
}

.welcome__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articles__column {
  margin-bottom: 15px;
}

.item-articles {
  height: 100%;
}

.item-articles__body {
  height: 100%;
  padding: 24px 20px 0;
  background: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-articles__tag {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  max-width: 250px;
  width: 100%;
  min-height: 38px;
  background: #F0F3FB;
  border-radius: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  margin-bottom: 42px;
}

.item-articles__text {
  margin: 0 32px;
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 360px;
  line-height: 120%;
}

.item-articles__text b {
  font-weight: 600;
  font-style: italic;
  color: #9683D7;
}

.item-articles__text {
  margin-bottom: 40px;
}

.item-articles__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.item-articles__image img {
  height: 282px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.item-articles__bottom {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 767.98px) {
  .welcome__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .welcome__content {
    margin-right: 72px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .welcome__title {
    padding-right: 10px;
  }

  .welcome__image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
  }

  .articles__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .articles__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 23px;
  }

  .articles__row {
    margin: 0 -28px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .articles__column {
    padding: 0 28px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .item-articles__button {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .welcome__image-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 416px;
    flex: 0 0 416px;
  }
}

@media (max-width: 1230px) {
  .item-articles__text br {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .item-articles__text {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .welcome {
    padding: 40px 0;
  }

  .welcome__title {
    max-width: 320px;
  }

  .welcome__title {
    font-size: 36px;
    text-align: center;
  }

  .welcome__title {
    font-size: 32px;
  }

  .welcome__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .welcome__text {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 20px;
    max-width: 400px;
    line-height: 135%;
  }

  .welcome__text br {
    display: none;
  }

  .welcome__image-wrapper {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .item-articles__text {
    margin: 0 15px 45px;
  }

  .item-articles__button {
    min-height: 40px;
    min-width: 150px;
  }
}

@media (max-width: 567.98px) {
  .welcome__text {
    max-width: 351px;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome__image-wrapper {
    max-width: 80%;
  }
}