@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

* {
  min-width: 0;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.top__title {
  margin-bottom: 30px;
}

.block {
  padding-top: 100px;
  padding-bottom: 100px;
}

.block_white {
  background: #fff;
  border-radius: 32px;
}

.title {
  font-size: 48px;
}

.title b {
  font-weight: 700;
  font-style: italic;
  color: #9683D7;
}

.title_white {
  color: #fff;
}

.title_white b {
  color: #fff;
}

.subtitle {
  font-size: 25px;
  line-height: 120%;
}

.subtitle b {
  font-weight: 700;
  font-style: italic;
  color: #9683D7;
}

.text {
  line-height: 120%;
  font-size: 18px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  padding: 2px 30px;
  border-radius: 12px;
  background: #9683D7;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_stroke {
  border: 1px solid #9683D7;
  background: transparent;
  color: #9683D7;
}

.button_white {
  background: #fff;
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
}

.header {
  z-index: 9990;
  background: #F0F3FB;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  margin-right: 30px;
}

.header__logo a {
  display: inline-block;
  height: 100%;
}

.header__logo img {
  width: 160px;
  height: auto;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__phone {
  margin-right: 22px;
  font-weight: 600;
  font-size: 16px;
}

.header__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header__burger {
  position: relative;
  z-index: 110;
  display: none;
}

.menu {
  position: relative;
}

.menu__item {
  position: relative;
}

.menu__item > a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item.active .menu__subitem svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.menu__subitem {
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__subitem svg {
  width: 15px;
  height: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  color: #000 !important;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submenu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  z-index: 10;
  bottom: -15px;
  left: 0;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  border-radius: 10px;
  padding: 10px;
  background: #F0F3FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #5B5180;
}

.submenu.active {
  opacity: 1;
  visibility: visible;
  bottom: -10px;
}

.submenu__item {
  white-space: nowrap;
  margin-bottom: 10px;
}

.submenu__item:last-child {
  margin-bottom: 0;
}

.submenu__item a {
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0;
  transition: all 0.3s ease 0;
}

html {
  overflow-x: hidden;
}

*::-moz-selection {
  color: #fff;
  background: #9683D7;
}

*::selection {
  color: #fff;
  background: #9683D7;
}

img {
  pointer-events: none;
}

body {
  color: #000;
  font-size: 18px;
  font-family: "Montserrat";
  background: #F0F3FB;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}

.header,
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page {
  padding-top: 72px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.stroke svg {
  fill: none !important;
  color: #fff;
}

@media (min-width: 991.98px) {
  .header__mobile-phone {
    display: none;
  }

  .header__menu {
    margin-right: 20px;
  }

  .header__button span:last-child {
    display: none;
  }

  .header__burger {
    display: none;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu__item {
    margin-right: 18px;
  }
}

@media (min-width: 1230px) {
  .header__menu {
    margin-right: 32px;
  }

  .menu__item {
    margin-right: 20px;
  }
}

@media (max-width: 1230px) {
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__logo img {
    width: 140px;
  }

  .header__phone {
    font-size: 14px;
    margin-right: 15px;
  }

  .header__button {
    padding: 0 20px;
    font-size: 14px;
    min-height: 50px;
  }

  .menu__item > a {
    font-size: 14px;
  }

  .menu__subitem {
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  .top__title {
    margin-bottom: 20px;
  }

  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 21px;
  }

  .text {
    font-size: 16px;
  }

  .header {
    height: 55px;
  }

  .header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .header__logo img {
    width: 120px;
  }

  .header__mobile-phone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 13px;
    background: #D6CBFF;
  }

  .header__mobile-phone svg {
    fill: #9683D7;
    width: 16px;
    height: 16px;
  }

  .header__menu {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__button {
    padding: 0 10px;
    min-height: 30px;
    border-radius: 5px;
    font-size: 12px;
  }

  .header__button span:first-child {
    display: none;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 11px;
    border-radius: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 14px;
    cursor: pointer;
  }

  .header__burger span {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    right: 0;
    top: calc(50% - 1px);
    height: 1.6px;
    border-radius: 10px;
    background: #9683D7;
  }

  .header__burger span:first-child {
    top: 0;
  }

  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
    width: 100%;
  }

  .header__burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header__burger.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 0.1px);
  }

  .page {
    padding-top: 55px;
  }
}

@media (max-width: 767.98px) {
  .block {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 567.98px) {
  .block {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .header__logo img {
    width: 87px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff;
    background: #5B5180;
    border-color: #5B5180;
  }

  .menu__item > a:hover {
    text-decoration: underline;
  }

  .submenu__item a:hover {
    color: #9683D7;
  }
}